@import '~antd/dist/antd.less';

@label-color: theme('colors.darkgray2');
@menu-item-active-bg: theme('colors.lightgray1');
@menu-highlight-color: theme('colors.black');
@menu-item-vertical-margin: 0px;
@menu-item-group-title-color: theme('colors.black');
@menu-item-color: theme('colors.black');
@primary-color: #1226aa;
