@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  svg {
    display: inline;
    vertical-align: baseline;
  }
}

html,
body {
  font-family: 'Kanit', Roboto, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-list-header,
.ant-list-footer {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.ant-form-vertical .ant-form-item-label,
.ant-col-24.ant-form-item-label,
.ant-col-xl-24.ant-form-item-label {
  padding: 0px !important;
}

.ant-btn-link {
  color: '#90969C' !important;
}

.ant-menu-submenu-selected,
.ant-menu-item-selected {
  color: #000 !important;
}

.ant-menu-sub,
.ant-menu-inline {
  background: #fff !important;
}

.ant-menu-item-selected {
  color: theme('colors.black') !important;
}
.ant-menu-item-selected::after {
  display: none;
}

.ant-menu-item-only-child {
  color: theme('colors.darkgray2');
}

.ant-btn {
  font-size: 16px !important;
}

.ant-modal {
  width: 504px !important;
}

.function-modal {
  width: 986px !important;
}

.ant-select-item.ant-select-item-option {
  height: 44px;
  align-items: center;
}

.checkbox__error > .ant-checkbox > .ant-checkbox-inner {
  border: 1px solid theme('colors.error.dark') !important;
  border-radius: 4px !important;
}

.device__height {
  height: calc(var(--windowInnerHeight, 100vh) - 64px);
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .ant-input,
  .ant-picker-input,
  .ant-picker-input > input,
  .ant-select-selector,
  .ant-select-arrow,
  .ant-picker-panel-container {
    font-size: 16px !important;
  }

  .ant-select-single:not(.ant-select-customize-input)
    .ant-select-selector
    .ant-select-selection-search-input {
    height: 44px !important;
  }

  .ant-input-affix-wrapper {
    padding: 0px 11px !important;
    font-size: 16px !important;
  }

  .ant-input,
  .ant-picker,
  .ant-select-selector {
    height: 48px !important;
    align-items: center;
  }

  .ant-select-item.ant-select-item-option {
    height: 56px;
    align-items: center;
  }

  .ant-btn {
    height: 48px !important;
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 767px) {
  .ant-input {
    font-size: 16px !important;
  }
  .ant-btn {
    font-size: 14px !important;
  }
  .ant-modal {
    width: calc(100vw - 30px) !important;
  }
}

.ant-table-tbody > tr:nth-child(odd) {
  background: theme('colors.lightgray1_40');
}

#pfes-to-send-table tr:nth-child(odd) {
  background: transparent;
}

#pfes-to-send-table tr:nth-child(even) {
  background: theme('colors.lightgray1_40');
}

.ant-table-thead > tr > th {
  background: transparent !important;
}

.ant-table-tbody > tr > td {
  vertical-align: baseline;
  border: 0 !important;
}

.ant-table-thead > tr > th {
  color: theme('colors.darkgray2') !important;
  border: 0 !important;
}
.ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  display: none;
}

tr.ant-table-expanded-row > td,
tr.ant-table-expanded-row:hover > td,
td.ant-table-column-sort,
.ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-tbody > tr > td.ant-table-cell-row-hover {
  background: transparent !important;
}

.ant-table-row-expand-icon-cell {
  padding-left: 32px !important;
}

.ant-table-tbody > tr > td > .ant-table-wrapper:only-child .ant-table,
.ant-table-tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed
  > .ant-table-wrapper:only-child
  .ant-table {
  margin-left: 32px !important;
}

.ant-form-item-explain-error {
  color: theme('colors.error.dark');
  font-size: 12px;
}

/* .anticon {
  vertical-align: 0 !important;
} */
